.SignInPage {
    text-align: center;
    background: linear-gradient(#0084ff, #ffc000, #0084ff);
}

.dropdown-menu {
    height: 100px;
    overflow-y: scroll;
}

.Container {
    text-align: center;
}